<%- include("partials/header.ejs") %>
<body>
    

    <h1 class="title"><%= todoListName %> ToDoList</h1>

    <div class="mx-auto w-25 border p-3 bg bg-opacity-10 border-success rounded-pill">
        <h2 class="timestamp"><%= timestamp %></h2>
    </div>
    <div class="form-container middle">
    <form action="/submitHome" method="POST" class="form">
        <input type="text" id="addList" name="addList" required>
        <button type="submit" name="list" value="<%= todoListName %>">+</button>
    </form>
 </div>
    <div class="todoList middle">
    <ul>
        <% todoList.forEach((element) => { %>
            <form action="/delete" method="post">
            <div>
                <input class="form-check-input" name="checkedBox" value="<%= element._id %>" onChange="this.form.submit()" type="checkbox" value="" id="flexCheckDefault"><li class="listItem"> <%= element.name %> </li>
            </div>
            <input type="hidden" name="listName" value="<%= todoListName %>"></input>
        </form>
      <%  }) %>
    </ul>
</div>
<form action="/clearHome" method="POST" class="clear middle">
    <input type="submit" value="Clear All Lists">
</form>
</body>